# Site Configuration
# Update this URL for production deployment (e.g., https://yourdomain.com/)
SITE_URL=http://localhost:4321/

# Optional Configuration
EMAIL={YOUR_EMAIL}
LICENSE_KEY={YOUR_LICENSE_KEY}
PUBLIC_ADSENSE_CLIENT_ID=ca-pub-4965740102250985
PUBLIC_ONESIGNAL_APP_ID={YOUR_ONESIGNAL_APP_ID}
TELEGRAM_BOT_TOKEN={YOUR_TELEGRAM_BOT_TOKEN}
TELEGRAM_CHAT_ID=@ondaconecta
